@model IEnumerable<MedalToUser>
@{
    ViewData["Title"] = new string[] { "勋章馆" };
}
<div class="container">
    <h5 class="tn-first-title">勋章馆</h5>
    <div class="row">
        <div class="col-xs-9" id="_ListMedalShop">
            @model IEnumerable<Medal>
            @{
                var medaltoUsers = ViewData.Get<IEnumerable<MedalToUser>>("medaltoUsers", null);
                var trCount = Model.Count() / 6 + (Model.Count() % 6 == 0 ? 0 : 1);
                int tdIndex = 0;
                var _currentUser = UserContext.CurrentUser;
            }
            @if (Model.Any())
            {
                <div class="jh-padding-white  tn-mb-20">
                    <table class="table table-bordered jh-medal-hall">
                        <tbody>
                            @for (int i = 0; i < trCount; i++)
                            {
                                <tr>
                                    @for (int j = tdIndex; j < Model.Count(); j++)
                                    {
                                        Medal medal = Model.ElementAtOrDefault(j);
                                        tdIndex++;
                                        <td>
                                            <img height="36" src="@medal.GetImageUrl()" />
                                            <p>
                                                @StringUtility.Trim(medal.MedalName, 15)
                                                @if (medal.AwardStatus == AwardStatus.StopAward)
                                                {
                                                    <a>(停止授予)</a>
                                                }
                                            </p>
                                            @if (_currentUser != null)
                                            {
                                                if (medal.HasMedaltoUser(_currentUser.UserId) > 0)
                                                {
                                                    <p>
                                                        <a class="a medaltouserdeal  tn-cursor-pointer" data-method="Abandoned" data-medaltouserid="@medal.HasMedaltoUser(_currentUser.UserId)">放弃</a>
                                                    </p>
                                                    <div class="tn-position-absolute"></div>
                                                }
                                                else
                                                {
                                                    <p>
                                                        @if (medal.AwardType == AwardType.AwardBySelf && medal.AwardStatus == AwardStatus.AllowAward)
                                                        {
                                                            if (medal.HasMedaltoUser(_currentUser.UserId, UserAwardStatus.Applying) > 0)
                                                            {
                                                                <text>
                                                                    申请中（<a data-medaltouserid="@medal.HasMedaltoUser(_currentUser.UserId,UserAwardStatus.Applying)" data-method="CancelApplying" class="a medaltouserdeal  tn-cursor-pointer">取消申请</a>）</text>
                                                            }
                                                            else
                                                            {
                                                                <a data-medaltouserid="@medal.MedalId" data-method="Applying" class="a medaltouserdeal  tn-cursor-pointer">申请</a>
                                                            }
                                                        }
                                                    </p>
                                                }
                                            }
                                            else
                                            {
                                                <p>
                                                    @if (medal.AwardType == AwardType.AwardBySelf && medal.AwardStatus == AwardStatus.AllowAward)
                                                    {
                                                        <a class="a tn-cursor-pointer" href="@SiteUrls.Instance().Login()">申请</a>
                                                    }
                                                </p>
                                            }
                                            <div class="jh-medal-hover">
                                                <h6>授予方式：@(medal.AwardType == AwardType.AwardByOther ? "人工授予" : "自主申请")</h6>
                                                <h6>说明：</h6>
                                                <p>@StringUtility.Trim(medal.Description, 35)</p>
                                            </div>
                                        </td>
                                        if ((j + 1) % 6 == 0)
                                        {
                                            break;
                                        }

                                    }
                                    @if (tdIndex == Model.Count())
                                    {
                                        for (int m = Model.Count(); m < trCount * 6; m++)
                                        {
                                            <td></td>
                                        }
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="text-center text-warning">
                    还没有任何勋章
                </div>
            }
        </div>
        <div class="col-xs-3">
            @if (Model.Any())
            {
                <div class="tn-gray-bg tn-mb-20">
                    <div class="tn-title">
                        <h5>勋章获取记录</h5>
                    </div>
                    <div class="jh-medal-record">
                        @foreach (var medaltoUser in Model)
                        {
                            <a href="@SiteUrls.Instance().SpaceHome(medaltoUser.UserId)" class="media">
                                <div class="media-left">
                                    @Html.ShowUserAvatar(userId: medaltoUser.UserId, avatarSizeType: AvatarSizeType.Small, enableNavigate: false, isShowUserCard: false)
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading" title="@medaltoUser.UserDisplayName">@StringUtility.Trim(medaltoUser.UserDisplayName, 5)<small class="pull-right tn-mt-5">@medaltoUser.DateCreated.ToFriendlyDate()</small></h5>
                                    <p class="text-muted">获得 @medaltoUser.GetMedalInfo().MedalName 勋章</p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script type="text/javascript">
    require(['jquery', 'tnlayer'], function ($, tnlayer) {
        $(document).on("click", ".medaltouserdeal", function () {
            //点击申请，取消申请，放弃勋章操作
            var $this = $(this);
            var medaltoUserId = $this.data("medaltouserid");
            var method = $this.data("method");
            if (method == "Abandoned") {
                layer.confirm("确定放弃么？", {
                    btn: ['确认', '取消'],//按钮
                    scrollbar: false
                }, function () {
                    var url = '@CachedUrlHelper.Action("ChangeMedaltoUserStatus", "UserSpace")';
                    $.post(url, { medaltoUserId: medaltoUserId, method: method }, function (data) {
                        if (data.MessageType == 1) {
                            GetMedalShopList();
                            layer.msg(data.MessageContent, { icon: 1 });
                        }
                        else {
                            layer.msg(data.MessageContent, { icon: 2 });
                        }
                    });
                });
            }
            else {
                var url = '@CachedUrlHelper.Action("ChangeMedaltoUserStatus", "UserSpace")';
                $.post(url, { medaltoUserId: medaltoUserId, method: method }, function (data) {
                    if (data.MessageType == 1) {
                        GetMedalShopList();
                        layer.msg(data.MessageContent, { icon: 1 });
                    }
                    else {
                        layer.alert(data.MessageContent, { icon: 2 });
                    }
                });
            }

        });

        //刷新勋章馆勋章列表
        function GetMedalShopList() {
            var url = '@CachedUrlHelper.Action("_ListMedalShop", "UserSpace")?t=' + (new Date).getTime();
            $.get(url, function (data) {
                $("#_ListMedalShop").html(data);
            })
        }
    })
</script>