@model Section
@{
    ViewData["Title"] = new string[] { "贴吧管理" };
}

@Styles.Render("~/js/lib/plupload/upload")
@Styles.Render("~/js/lib/zTree/css/zTreeStyle/zTree")

<div class="jh-post-top tn-mb-20 jh-top-center">
    <div class="row">
        <div class="col-xs-1">
            <a href="@CachedUrlHelper.Action("BarSectionDetail", "Post", null, new RouteValueDictionary { { "sectionId", Model.SectionId } })">
                <img src="@(new AttachmentService(TenantTypeIds.Instance().Section()).Get(Model.FeaturedImageAttachmentId)?.GetDirectlyUrl("Small"))" onerror="this.onerror = null; this.src='@Tunynet.Utilities.WebUtility.ResolveUrl("~/img/default_Square.png")'"   width="60" height="60" alt="...">
            </a>
        </div>
        <div class="jh-post-title col-xs-11">
            <div class="jh-title-left">
                <h4><a href="@CachedUrlHelper.Action("BarSectionDetail", "Post", null, new RouteValueDictionary { { "sectionId", Model.SectionId } })"><strong>@Model.Name</strong></a></h4>
            </div>
            <div class="jh-title-right">
                <ul class="list-inline">
                    <li>主题数：@Model.ThreadCount</li>
                    <li>回贴数：@(Model.CommentCount)</li>
                    <li>用户数：@Model.GetFavoritedUserCount()</li>
                    @if (Model.Category != null)
                    {
                        <li>所属分类： <a href="@CachedUrlHelper.Action("BarSection", "Post", null, new RouteValueDictionary { { "categoryId", Model.Category.CategoryId } })">@Model.Category.CategoryName</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row jh-post-management">
    <div class="col-xs-2">
        <div class="jh-post-left">
            <div class="tn-title">
                <h5>贴吧管理</h5>
            </div>
            <ul class="list-unstyled">
                <li class="active listThreadManage"><a href="#">贴子管理</a></li>
                <li class="listPostComments"><a href="javaScript:;">回贴管理</a></li>
                <li><a href="javascript:;" class="EditSection">贴吧设置</a></li>
            </ul>
        </div>
    </div>
    <div id="manageSection" class="col-xs-10">
        <div class="jh-padding-white">
            <div class="tn-title">
                <h4>贴子管理</h4>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <a id="passaudit" class="btn btn-default" href="javascript:;"><i class="fa fa-check"></i> 通过审核</a>
                    <a id="nopassaudit" class="btn btn-default" href="javascript:;"><i class="fa fa-ban"></i> 不通过审核</a>
                    <a id="essential" class="btn btn-default" href="javascript:;"><i class="fa fa-star"></i> 精华</a>
                    <a id="cancelessential" class="btn btn-default" href="javascript:;"> 取消精华</a>
                    <a id="sticky" class="btn btn-default" href="javascript:;"><i class="fa fa-chevron-up"></i> 置顶</a>
                    <a id="cancelsticky" class="btn btn-default" href="javascript:;"> 取消置顶</a>
                    <a id="delete" class="btn btn-default" href="javascript:;"><i class="fa fa-trash"></i> 删除</a>
                </div>
                <div class="col-xs-4 text-right">
                    <div class="btn-group" role="group">
                        <form class="form-inline">
                            <select class="form-control filter" id="categoryId">
                                <option value="0">贴子分类</option>
                                @foreach (var item in Model.ThreadCategories)
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }
                            </select>
                            <select class="form-control filter" id="sortBy_BarDateThread" onchange="">
                                <option value="0">发贴时间</option>
                                <option value="1">近三天</option>
                                <option value="2">近一周</option>
                                <option value="3">近一月</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <hr />
            <div id="_ListThreadManage">
                @Html.Action("_ListThreadManage", "Post", new { sectionId = Model.SectionId })
            </div>
        </div>
        <script type="text/javascript">
    require(['jquery', 'tnlayer','page'], function ($, tnlayer) {
        //查询
        function search() {
            $.get("@CachedUrlHelper.Action("_ListThreadManage", "Post")", { sectionId: @Model.SectionId, categoryId: $("#categoryId").val(), sortBy_BarDateThread: $("#sortBy_BarDateThread").val() }, function (data) {
                $("#_ListThreadManage").html(data);
            })
        }

        $('.filter').on('change',function(){
            search ();
        })
        //批量删除
        $("#delete").click(function () {
            var ids = [];
            var threadIds = "";
            var getTimestamp = new Date().getTime();
            if (!$("input[name='checks']:checked").length) {
                layer.msg("请至少选择一篇贴子进行操作", { icon: 2 })
            }
            else {
                $('[name="checks"]:checked').each(function () {
                    ids.push($(this).data('id'));
                });
                threadIds = ids.join(';');
                layer.confirm("确定删除么？", {
                    btn: ['确认', '取消']
                }, function () {
                    $.post('@CachedUrlHelper.Action("DeleteThreads", "Post")', { threadIds: threadIds,sectionId:@Model.SectionId }, function (data) {
                        if (data.state == 1) {
                            layer.msg("删除成功", {
                                icon: 1
                            });
                            var ids = threadIds.split(';');
                            for (var i = 0; i < ids.length; i++) {
                                $('#thread-' + ids[i]).remove();
                            }
                        }
                    });
                });
            }
        });
        //批量精华
        $("#essential").on("click", function () {
            UpdateEssential(true);
        });

        //批量取消精华
        $("#cancelessential").on("click", function () {
            UpdateEssential(false);
        });
        //批量置顶
        $("#sticky").on("click", function () {
            UpdateStick(true);
        });
        //批量取消置顶
        $("#cancelsticky").on("click", function () {
            UpdateStick(false);
        });
        //批量通过审核
        $("#passaudit").click(function () {
            UpdateAuditStatus(true);

        });
        //批量不通过审核
        $("#nopassaudit").click(function () {
            UpdateAuditStatus(false);
        });
        function UpdateAuditStatus(isApproved) {
            var icon = '<i class="fa fa-check-circle tn-green-color" title="@AuditStatus.Success.GetDisplayName()"></i>';
            if (!isApproved) {
                icon = ' <i class="fa fa-ban tn-red-color" title="@AuditStatus.Fail.GetDisplayName()"></i>';
            }
            var threadIds = [];
            if (!$("input[name='checks']:checked").length) {
                layer.msg("请至少选择一篇贴子进行操作", { icon: 2 })
            } else {
                $('[name="checks"]:checked').each(function () {
                    threadIds.push($(this).data('id'));
                });
                $.post('@CachedUrlHelper.Action("AuditStatusThreads", "Post")', { threadIds: threadIds.join(';'), isApproved: isApproved }, function myfunction(data) {
                    if (data.state) {
                        layer.msg(data.message, {
                            icon: 1
                        });

                        for (var i = 0; i < threadIds.length; i++) {
                            $("#audit-" + threadIds[i]).html(icon);
                        }
                    }
                    else {
                        layer.msg(data.message, {
                            icon: 2
                        });
                    }
                });
            }
        };
        //全选
        $(document).on("click", "#select-all", function () {
            if (this.checked == true) {
                $(".tn-checkbox").each(function () {
                    this.checked = true;
                });
                checkedActive($(this));
            } else {
                $(".tn-checkbox").each(function () {
                    this.checked = false;
                });
            }
        });
        function UpdateEssential(isApproved) {

            var threadIds = [];
            var getTimestamp = new Date().getTime();
            if (!$("input[name='checks']:checked").length) {
                layer.msg("请至少选择一篇贴子进行操作", { icon: 2 })
            } else {
                $('[name="checks"]:checked').each(function () {
                    threadIds.push($(this).data('id'));
                });
                $.post('@CachedUrlHelper.Action("UpdateEssential", "Post")', { threadIds: threadIds.join(';'), isApproved: isApproved, sectionId:@Model.SectionId }, function (data) {
                    if (data.state==1) {
                        layer.msg("操作成功", {
                            icon: 1
                        });
                        if (isApproved) {
                            for (var i = 0; i < threadIds.length; i++) {
                                $("#Essential-" + threadIds[i]).removeClass('hidden');
                            }
                        }
                        else {
                            for (var i = 0; i < threadIds.length; i++) {
                                $("#Essential-" + threadIds[i]).addClass('hidden');
                            }
                        }

                    }
                    else {
                        layer.msg("操作失败", {
                            icon: 2
                        });
                    }
                });
            }
        };

        function UpdateStick(isApproved) {
            var threadIds = [];
            var getTimestamp = new Date().getTime();
            if (!$("input[name='checks']:checked").length) {
                layer.msg("请至少选择一篇贴子进行操作", { icon: 2 })
            } else {
                $('[name="checks"]:checked').each(function () {
                    threadIds.push($(this).data('id'));
                });
                $.post('@CachedUrlHelper.Action("UpdateStick", "Post")', { threadIds: threadIds.join(';'), isApproved: isApproved , sectionId:@Model.SectionId  }, function (data) {
                    if (data.state==1) {
                        layer.msg("操作成功", {
                            icon: 1
                        });
                        if (isApproved) {
                            for (var i = 0; i < threadIds.length; i++) {
                                $("#sticky-" + threadIds[i]).removeClass('hidden');
                            }
                        }
                        else {
                            for (var i = 0; i < threadIds.length; i++) {
                                $("#sticky-" + threadIds[i]).addClass('hidden');
                            }
                        }
                    }
                    else {
                        layer.msg("操作失败", {
                            icon: 2
                        });
                    }
                });
            }
        };
    })

        </script>
    </div>

</div>

<script type="text/javascript">
    require(['jquery', 'tnlayer', 'page'], function ($, tnlayer) {

    //编辑贴吧
    $('.EditSection').on("click", function () {
        tnlayer.layermodal('贴吧设置', '@CachedUrlHelper.Action("_EditBarSection","Post",null, new RouteValueDictionary{ { "sectionId",Model.SectionId } })' + "&t" + (new Date()).valueOf(), '660px', '580px')
    })

    //加载回贴管理
    $('.listPostComments').on('click', function () {
        var $this = $(this);
        $.get('@CachedUrlHelper.Action("_ManagePostComments","Post",null,new RouteValueDictionary { { "sectionId",Model.SectionId } })', { t: (new Date()).valueOf() }, function (data) {
            $('#manageSection').html(data);
            $this.siblings().removeClass('active');
            $this.addClass('active');
        });
    });

    //贴子管理
    $('.listThreadManage').on('click', function () {
        var $this = $(this);
        $.get('@CachedUrlHelper.Action("_ThreadManage", "Post",null,new RouteValueDictionary { { "sectionId",Model.SectionId } })', function (data) {
            $('#manageSection').html(data);
            $this.siblings().removeClass('active');
            $this.addClass('active');
        });
    });


    //查询
    $("#search").on("click", function () {

        $.get("@CachedUrlHelper.Action("_ListThreadManage", "Post")", { sectionId: $('input[name="SectionId"]').val(), categoryId: $("#categoryId").val(), sortBy_BarDateThread: $("#sortBy_BarDateThread").val() }, function (data) {
            $("#_ListThreadManage").html(data);
        })
    })
    })
</script>